@import "src/colors";

.content {
  width: 100%;

  .artist, .album {

    span {
      color: $orange;
      font-size: 1.75rem;
      line-height: 2.25rem;
    }

    .image {
      min-width: 200px;
      min-height: 200px;
      max-width: 200px;
      max-height: 200px;
      margin: 10px;

      img {
        min-width: 100%;
        min-height: 100%;
        max-width: 100%;
        max-height: 100%;
      }

    }

  }

  .artist, .album, .genres {
    font-size: 1.5rem;
    line-height: 2.5rem;
    margin: 10px;
    color: $playlistTitle;
  }

  .divider {
    height: 2px;
    width: 98%;
    background: $divider;
    margin: 1% 10px 1% 10px;
  }

  .genres {
    text-transform: capitalize;

    span {
      color: $orange;
      font-size: 1.75rem;
      line-height: 2.25rem;
    }

  }

}
