@import "src/colors";
@import 'node_modules/@angular/material/theming';

.content {
  z-index: 102;
  position: absolute;
  min-width: 100px;
  max-width: 300px;
  background: $contextMenu;
  overflow: hidden;
  border-radius: 6px;
  @include mat-elevation(4);
  @include mat-elevation-transition();

  &.hover {
    @include mat-elevation(6);
  }

}

.mask {
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 101;
}
