<div class="mask"
     (click)="onMaskClick()"
     (contextmenu)="onMaskContextClick($event)"></div>
<div *ngIf="initialized"
     #menu
     appHover
     class="content"
     [class.hover]="hover"
     [style.top]="top+'px'"
     [style.left]="left+'px'"
     (hover)="onHover($event)">
  <div *ngFor="let option of options"
       class="option">
    <app-option
            [option]="option"
            [event]="event"
            [flipVertically]="flipVertically"
            [flipHorizontally]="flipHorizontally"
            (clicked)="onMaskClick()"></app-option>
    <div *ngIf="option.showDivider"
         class="divider"></div>
  </div>
</div>
