@import "src/colors";
@import 'node_modules/@angular/material/theming';

.content {
  width: 100vw;
  height: 100vh;
  background: $background;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  font-size: 4rem;
  line-height: 5rem;
  flex-flow: wrap;

  .logout {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    button {
      outline: none;
      border: none;
      background: $navigationBackground;
      color: white;
      @include mat-elevation(4);
      font-size: 1rem;
      border-radius: 20px;
      transition: font-weight 0.1s, height 0.2s, width 0.2s;
      width: 20rem;
      height: 3rem;
      line-height: 1rem;

      &:hover {
        height: 3.1rem;
        width: 21rem;
        font-weight: 500;
      }

      &:active {
        height: 2.9rem;
        width: 19rem;
      }

    }

  }

}
