<div class="content">
  <div class="top">
    <app-switcher [defaultValue]="contentType"
                  [switches]="switches"
                  (switched)="switch($event)"></app-switcher>
  </div>
  <div class="bottom">
    <div *ngIf="loading"
         class="loading">
      <mat-spinner appSpinner
                   [diameter]="150"
                   [customColor]="spinnerColor"></mat-spinner>
    </div>
    <div *ngIf="!recentlyPlayed && recentlyPlayed?.items.length > 0 && !loading"
         class="placeholder">Brak Danych
    </div>
    <app-chart *ngIf="recentlyPlayed && !loading"
               [recentlyPlayed]="recentlyPlayed"
               [contentType]="contentType"></app-chart>
  </div>
</div>
