<div *ngIf="loading"
     class="loading">
  <mat-spinner appSpinner
               [diameter]="150"
               [customColor]="spinnerColor"></mat-spinner>
</div>
<div *ngIf="!loading"
     class="content">
  <div class="tracks"
       [style.maxHeight]="tracksHeight+'px'">
    <div class="top">
      <div class="label">
        Ostatnio odtwarzane utwory
      </div>
      <div *ngIf="showMoreTracksButton"
           class="show-more"
           (click)="onShowMoreTracksClick()">Pokaż więcej
        <div class="arrow">
          <mat-icon [class.open]="openTracks">expand_more</mat-icon>
        </div>
      </div>
    </div>
    <div class="divider"></div>
    <div *ngIf="!openTracks && showMoreTracksButton"
         class="mask"></div>
    <div class="tracks-wrapper"
         #tracksWrapper>
      <app-recently-played-tile *ngFor="let recentlyPlayed of recentlyPlayed?.items"
                                [recentlyPlayed]="recentlyPlayed"></app-recently-played-tile>
    </div>
  </div>
  <div class="artists"
       [style.maxHeight]="artistsHeight+'px'">
    <div class="top">
      <div class="label">
        Ostatnio słuchani wykonawcy
      </div>
      <div *ngIf="showMoreArtistsButton"
           class="show-more"
           (click)="onShowMoreArtistsClick()">Pokaż więcej
        <div class="arrow">
          <mat-icon [class.open]="openArtists">expand_more</mat-icon>
        </div>
      </div>
    </div>
    <div class="divider"></div>
    <div *ngIf="!openArtists && showMoreArtistsButton"
         class="mask"></div>
    <div class="artists-wrapper"
         #artistsWrapper>
      <app-recently-played-artist-tile *ngFor="let artist of artists"
                                       [artist]="artist"></app-recently-played-artist-tile>
    </div>
  </div>
</div>