@import "src/app/components/right-panel/playlist-panel/playlist-panel.component.scss";

.content {

  .top {

    .text {

      .release-date {
        padding: 5px 10px 0 10px;
        font-size: 1rem;
        color: $playlistTotal;
      }

    }

  }

}