@import 'node_modules/@angular/material/theming';
@import "src/colors";

.content {
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: 100%;

  .top {
    display: flex;
    height: calc(100% - 125px);

    .left-side {
      height: 100%;
    }

    .right-side {
      height: 100%;
      flex: 1;
    }

  }

  .bottom {
    width: 100%;
    z-index: 100;
    height: 125px;
    position: relative;
    @include mat-elevation-transition();
    @include mat-elevation(4);
    background: $darkerBackground;

    &:hover {
      @include mat-elevation(8);
    }

  }

}
