@import 'node_modules/@angular/material/theming';
@import "src/colors";

.container {
  margin: 0;
  padding: 0;
  max-width: 100%;

  .top {
    display: flex;

    .left-side {
      height: 100%;
    }

    .right-side {
      height: 100%;
      flex: 1;
    }

  }

  .bottom {
    @include mat-elevation-transition();
    @include mat-elevation(4);
    background: $darkerBackground;

    &:hover {
      @include mat-elevation(8);
    }

  }

}
