<div class="container"
     #container>
  <div class="top"
       (resize)="onResize()"
       [style.height]="topHeight+'px'">
    <div class="left-side"
         appResizable
         [resizableMinWidth]=300
         [resizableMaxWidth]=500>
      <app-left-panel></app-left-panel>
    </div>
    <div class="right-side">
      <app-right-panel></app-right-panel>
    </div>
  </div>
  <div class="bottom"
       [style.height]="bottomHeight+'px'">
    <app-bottom-panel></app-bottom-panel>
  </div>
</div>
