@import 'node_modules/@angular/material/theming';
@import "src/colors";
@import 'src/media';

.content {
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: 100%;

  .top {
    display: flex;
    height: calc(100% - 125px);

    .left-side {
      z-index: 10000;
      height: 100%;
      width: 300px;

      @include mobile() {
        position: absolute;
      }

    }

    .right-side {
      height: 100%;

      @include desktop() {
        flex: 1;
      }

      @include mobile() {
        width: 100%;
      }
    }

  }

  .bottom {
    width: 100%;
    z-index: 100;
    height: 125px;
    position: relative;
  }

}
