@import "src/colors";

.container {
  display: flex;
  justify-content: center;
  padding-top: 0.5rem;
  background: none;

  .progress-ms, .duration {
    color: $lighterBackground;
    margin: -0.5rem 1rem 0 1rem;
  }

  .app-progress-bar {
    width: 75%;
    background-color: rgba(0, 0, 0, 0);

    .background {
      height: 6px;
      background: $lightBackground;
      border-radius: 10px;
      width: 100%;
    }

    .foreground {
      height: 6px;
      background: $lighterBackground;
      border-radius: 10px;
      width: 100%;
      margin-top: -6px;

      .thumb {
        border-radius: 50%;
        background: white;
        position: absolute;
      }

    }
  }

}
