@import 'node_modules/@angular/material/theming';
@import "src/colors";

.content {
  display: flex;
  justify-content: center;

  .search-wrapper {
    width: 600px;
    margin: 30px;
    background: $searchBarBackground;
    overflow: hidden;
    border-radius: 8px;
    z-index: 2;
    @include mat-elevation(4);
    @include mat-elevation-transition();

    &.hover {
      @include mat-elevation(6);
    }

    .top {
      display: flex;
      height: 60px;
      justify-content: center;

      .search {
        font-size: 2rem;
        line-height: 2.2rem;
        width: 85%;
        color: white;
        background: transparent;
        outline: none;
        border: none;
      }

      .search-button, .clear-button {
        width: 7.5%;
        background: transparent;
        outline: none;
        border: none;
        color: $searchButtons;

        .mat-icon {
          display: flex;
          font-weight: 550;
          font-size: 2rem;
          width: 2.2rem;
          height: 2.2rem;

          &:hover {
            font-size: 2.2rem;
            width: 2.4rem;
            height: 2.4rem;
          }

        }

      }

    }

    .bottom {
      overflow: overlay;
      transition: max-height 0.2s linear;

      &.loading {
        display: flex;
        justify-content: center;
        padding: 30px 0 30px 0;
      }

      .text {
        font-size: 2rem;
        padding: 1rem 1rem 1rem 4rem;
        color: $followers;
      }

      .divider {
        height: 2px;
        background: $orange;
        width: 90%;
        margin: auto;
      }

    }

    ::-webkit-scrollbar {
      width: 6px;
      background: none;
    }

    ::-webkit-scrollbar-thumb {
      background: none;
      border-radius: 15px;
      transition: background 0.2s;
    }

    &.hover {

      ::-webkit-scrollbar-thumb {
        background: $scroll;
      }

    }

  }

}

.mask {
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}
