<div class="content"
     #container>
  <div class="top">
    <div class="image">
      <img *ngIf="hasImage"
           src="{{image?.url}}">
      <mat-icon *ngIf="!hasImage">music_note</mat-icon>
    </div>
    <div class="text">
      <div class="title">
        {{playlist.name}}
      </div>
      <div *ngIf="playlist.description"
           class="description">
        {{playlist.description}}
      </div>
      <div class="total">
        Ilość urtowrów: {{playlist.tracks?.total}}
      </div>
      <div class="buttons">
        <div class="play">
          <button (click)="play()">
            <mat-icon *ngIf="!isCurrent || !isPlaying">play_arrow</mat-icon>
            <mat-icon *ngIf="isCurrent && isPlaying">pause</mat-icon>
          </button>
        </div>
        <div class="play-random">
          <button (click)="playRandom()">Odtwarzaj losowo</button>
        </div>
        <div *ngIf="playlist.type==='playlist'"
             class="details">
          <button (click)="onDetailsClick()">...</button>
        </div>
      </div>
    </div>
    <div class="search">
      <div class="search-wrapper">
        <input #searchInput
               (input)="onInputChange()"
               placeholder="Szukaj...">
        <mat-icon (click)="clearSearchValue()">close</mat-icon>
      </div>
    </div>
  </div>
  <app-track-table [tracks]="tracksToRender"
                   [loading]="loading"
                   [forceLoading]="forceLoading"
                   [container]="container"
                   [playlist]="playlist"
                   [playlists]="playlists"
                   (sorted)="onSorted()"
                   (refresh)="onRefresh()"
                   (unfollowed)="onUnfollowed($event)"></app-track-table>
</div>