<div class="content"
     #container>
  <app-switcher [defaultValue]="switchValue"
                [switches]="switches"
                (switched)="switch($event)"></app-switcher>
  <div class="top">
    <div class="image"
         appHover
         (hover)="onHover($event)">
      <img *ngIf="hasImage"
           src="{{image?.url}}">
      <mat-icon *ngIf="!hasImage">music_note</mat-icon>
      <div *ngIf="hover && isUserPlaylist"
           class="change-image"
           (click)="onChangeImageClick()">
        <div class="icon">
          <mat-icon>wallpaper</mat-icon>
        </div>
        <div class="text">
          Kliknij aby zmienić okładkę
        </div>
      </div>
    </div>
    <div class="text">
      <div class="title">
        {{playlist.name}}
      </div>
      <div *ngIf="playlist.description"
           class="description">
        {{playlist.description}}
      </div>
      <div class="total">
        Ilość utworów: {{playlist.tracks?.total}}
      </div>
      <div class="buttons">
        <div class="play">
          <button (click)="play()">
            <mat-icon *ngIf="!isCurrent || !isPlaying">play_arrow</mat-icon>
            <mat-icon *ngIf="isCurrent && isPlaying">pause</mat-icon>
          </button>
        </div>
        <div class="play-random">
          <button (click)="playRandom()">
            <span *ngIf="!mobile">Odtwarzaj losowo</span>
            <mat-icon *ngIf="mobile">shuffle</mat-icon>
          </button>
        </div>
        <div *ngIf="isUserPlaylist"
             class="details">
          <button (click)="onDetailsClick()">...</button>
        </div>
      </div>
    </div>
    <div *ngIf="!mobile && !isStatsPanel"
         class="search">
      <div class="search-wrapper">
        <input #searchInput
               (input)="onInputChange()"
               placeholder="Szukaj...">
        <mat-icon (click)="clearSearchValue()">close</mat-icon>
      </div>
    </div>
  </div>
  <div *ngIf="mobile && !isStatsPanel"
       class="search">
    <div class="search-wrapper">
      <input #searchInput
             (input)="onInputChange()"
             placeholder="Szukaj...">
      <mat-icon (click)="clearSearchValue()">close</mat-icon>
    </div>
  </div>
  <app-track-table [style.display]="isStatsPanel ? 'none':'block'"
                   [tracks]="tracksToRender"
                   [loading]="loading"
                   [forceLoading]="forceLoading"
                   [container]="container"
                   [playlist]="playlist"
                   [playlists]="playlists"
                   (sorted)="onSorted()"
                   (refresh)="onRefresh()"
                   (unfollowed)="onUnfollowed($event)"></app-track-table>
  <div class="stats"
       [style.display]="isStatsPanel ? 'block':'none'">
    <div *ngIf="!statsLoaded"
         class="loading">
      <mat-spinner appSpinner
                   [diameter]="60"
                   [customColor]="spinnerColor"></mat-spinner>
    </div>
    <div *ngIf="statsLoaded"
         class="wrapper">
      <app-switcher *ngIf="!noData"
                    [switches]="statsSwitches"
                    [defaultValue]="statsSwitchValue"
                    (switched)="statsSwitch($event)"></app-switcher>
      <app-horizontal-chart *ngIf="!noData"
                            [bars]="activeBarsConfig"
                            [contentType]="statsContentType"></app-horizontal-chart>
      <div *ngIf="noData"
           class="error">
        Brak danych
      </div>
    </div>
  </div>
</div>
