<div class="container">
  <div class="left-side">
    <div class="item-container">
      <div class="image">
        <img *ngIf="image"
             src="{{image?.url}}">
      </div>
      <div class="text">
        <div class="name"
             (click)="onNameClick()">
          {{currentItem?.name}}
        </div>
        <div *ngFor="let artist of artists;let i = index"
             class="artists">
          <div *ngIf="i<3"
               class="artist"
               (click)="onArtistClick(artist)">
            {{artist.name}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="middle">
    <div class="buttons">
      <div class="lyrics">
        <app-pop-up [iconClass]="'icon-tunefy-lyrics'"
                    [fontSet]="'lyrics'"
                    [popUpContentType]="popUpContentType.LYRICS"></app-pop-up>
      </div>
      <button class="shuffle">
        <mat-icon *ngIf="!currentShuffleState"
                  (click)="toggleShuffleState()">shuffle
        </mat-icon>
        <mat-icon *ngIf="currentShuffleState"
                  (click)="toggleShuffleState()">shuffle_on
        </mat-icon>
      </button>
      <button class="previous">
        <mat-icon (click)="previous()">skip_previous</mat-icon>
      </button>
      <button *ngIf="player?.is_playing"
              class="pause"
              (click)="pause()">
        <mat-icon>pause
        </mat-icon>
      </button>
      <button *ngIf="!player?.is_playing"
              class="play">
        <mat-icon (click)="play()">play_arrow</mat-icon>
      </button>
      <button class="next">
        <mat-icon (click)="next()">skip_next</mat-icon>
      </button>
      <button class="repeat">
        <mat-icon *ngIf="currentRepeatState === repeatState.OFF || player?.repeat_state == null"
                  (click)="toggleRepeatState()">repeat
        </mat-icon>
        <mat-icon *ngIf="currentRepeatState === repeatState.CONTEXT"
                  (click)="toggleRepeatState()">repeat_on
        </mat-icon>
        <mat-icon *ngIf="currentRepeatState === repeatState.TRACK"
                  (click)="toggleRepeatState()">repeat_one_on
        </mat-icon>
      </button>
      <div class="queue">
        <app-pop-up [icon]="'queue_music'"
                    [popUpContentType]="popUpContentType.QUEUE"></app-pop-up>
      </div>
    </div>
    <div class="app-volume-bar">
      <app-progress-bar [player]="player"></app-progress-bar>
    </div>
  </div>
  <div class="right-side">
    <div class="devices">
      <app-pop-up [icon]="'devices'"
                  [popUpContentType]="popUpContentType.DEVICES"></app-pop-up>
    </div>
    <div class="volume-container">
      <button class="volume">
        <mat-icon (click)="onVolumeClick()">{{volumeState}}</mat-icon>
      </button>
      <div class="volume-bar">
        <app-volume-bar [player]="player"></app-volume-bar>
      </div>
    </div>
  </div>
</div>
