<div class="content"
     appHover
     (hover)="onHover($event)"
     [class.hover]="hover">
  <div class="navigation">
    <app-navigation></app-navigation>
  </div>
  <app-search-bar></app-search-bar>
  <div [ngSwitch]="activeLinkConfig?.contentType"
       class="panel"
       #container>
    <app-home-panel *ngSwitchCase="contentTypeEnum.home"></app-home-panel>
    <app-playlist-panel *ngSwitchCase="contentTypeEnum.playlist"
                        [playlist]="activeLinkConfig.playlist"
                        [container]="container"></app-playlist-panel>
    <app-followed-panel *ngSwitchCase="contentTypeEnum.followed"
                        [playlist]="activeLinkConfig.playlist"
                        [container]="container"></app-followed-panel>
    <app-album-panel *ngSwitchCase="contentTypeEnum.album"
                     [album]="activeLinkConfig.album"
                     [container]="container"></app-album-panel>
    <app-artist-panel *ngSwitchCase="contentTypeEnum.artist"
                      [artist]="activeLinkConfig.artist"
                      [container]="container"></app-artist-panel>
  </div>
</div>
