@import "src/colors";
@import 'node_modules/@angular/material/theming';

.content {
  display: flex;
  justify-content: center;
  margin: 0;
  height: 100vh;
  max-width: 100vw;
  width: 100vw;
  padding: 0;
  background: $background;

  .button-wrapper {
    margin: auto;

    .connect-spotify {
      @include mat-elevation(8);
      background: $spotifyColor;
      border-radius: 3rem;
      font-size: 2rem;
      padding: 1rem;
      border: 0;
      font-family: Proxima Proxima Nova, sans-serif;

    }

  }

  .loading {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

}
