<h1 mat-dialog-title>Edytuj playlistę</h1>
<div mat-dialog-content
     class="content">Szczegóły
  <div>
    <input
        #name
        (change)="onNameChange()"
        placeholder="Wpisz nazwę playlisty"
        value="{{data.name}}">
  </div>
  <div>
    <input
        #description
        (change)="onDescriptionChange()"
        placeholder="Opis"
        value="{{data.description}}">
  </div>
</div>
<div mat-dialog-actions
     class="buttons">
  <button matRipple [mat-dialog-close]="data">Zatwierdź</button>
  <button matRipple mat-dialog-close>Anuluj</button>
</div>