<div class="content"
     appHover
     (hover)="onHover($event)">
  <div class="divider"></div>
  <div class="wrapper"
       [class.hover]="hover"
       [class.current]="isCurrent"
       [class.disabled]="track.disabled">
    <div *ngIf="(!hover || track.disabled) && (!isCurrent || !isPlaying)"
         class="number">
      {{index + 1}}
    </div>
    <div *ngIf="hover && !track.disabled && (!isCurrent || !isPlaying)"
         class="play-button"
         (click)="play()">
      <mat-icon>play_arrow</mat-icon>
    </div>
    <div *ngIf="isCurrent  && isPlaying"
         class="pause-button"
         (click)="pause()">
      <mat-icon>pause</mat-icon>
    </div>
    <div class="follow">
      <mat-icon *ngIf="track.followed">bookmark</mat-icon>
      <mat-icon *ngIf="!track.followed">bookmark_border</mat-icon>
    </div>
    <div class="title">
      <div class="image">
        <img *ngIf="hasImage"
             [class.hover]="hover"
             src="{{image.url}}"
             (error)="onImageError()">
      </div>
      {{track.name}}
    </div>
    <div class="album">{{track.album.name}}</div>
    <div class="added">{{addedAt}}</div>
    <div class="duration">
      {{duration}}
    </div>
  </div>
</div>