<div class="content"
     appHover
     matRipple
     (contextmenu)="onContextMenu($event)"
     (hover)="onHover($event)"
     (click)="onClick()">
  <div class="top">
    <div class="text">
      {{recentlyPlayed.track.name}}
    </div>
    <div class="play"
         [class.hover]="hover">
      <div *ngIf="!isPlaying"
           class="button"
           [class.hover]="hover"
           (click)="play($event)">
        <mat-icon [class.hover]="hover">play_arrow</mat-icon>
      </div>
      <div *ngIf="isPlaying"
           class="button"
           [class.hover]="hover"
           (click)="pause($event)">
        <mat-icon [class.hover]="hover">pause</mat-icon>
      </div>
    </div>
  </div>
  <mat-icon *ngIf="!hasImage"></mat-icon>
  <div *ngIf="hasImage"
       class="image">
    <img src="{{image.url}}"
         (error)="onImageError()">
  </div>
</div>