$background: #212121;
$darkBackground: #1f1f1f;
$darkerBackground: #1a1a1a;
$evenDarkerBackground: #131313;
$spotifyColor: #1DB954;
$orange: #FF8000;
$lightOrange: #f8a255;
$lightBackground: #383838;
$popUpBackground: #252525;
$scroll: #525252;
$lighterBackground: #696969;
$evenLighterBackground: #939393;
$lyricsLabel: #C3C3C3;
$searchBarBackground: #343333;
$searchBarHover: #545454;
$searchBarCurrent: #464646;
$searchBarCurrentHover: #6e6e6e;
$searchBarBorder: #2f2f2f;
$followers: #b0b0b0;
$followersTotal: #d5d5d5;
$searchButtons: #b7b7b7;
$contextMenu: #2f2f2f;
$contextMenuHover: #383838;
$contextMenuText: #a2a2a2;
$profileName: #a2a2a2;
$profileNameHover: #dadada;
$profileImageBackground: #444444;
$profileBackground: #282828;
$profileMainBackground: #2c2c2c;
$loadingMask: rgba(0, 0, 0, 0.62);
$leftPanelBackground: #151515;
$linkTileColor: #a2a2a2;
$linkTileColorHover: #d5d5d5;
$linkTileHover: #3a3a3a;
$linkTileActive: #444444;
$linkTileActiveHover: #505050;
$divider: #3b3b3b;
$recentlyPlayedBackground: #1d1d1d;
$homeLabel: #a2a2a2;
$homeLabelHover: #dedede;
$playlistHeader: #b9b9b9;
$playlistCellHover: #e1e1e1;
$playlistCellDisabled: #606060;
$playlistBackground: #1c1c1c;
$playlistImageBackground: #282828;
$playlistImageColor: #444444;
$playlistTitle: #a9a9a9;
$playlistTotal: #9d9d9d;
$playlistEmptyText: #7e7e7e;
$playlistCellHoverBackground: #5e5e5e;
$playlistCellHoverDisabledBackground: #2a2a2a;
$dialogBackground: #1a1a1a;
$dialogInputBackground: #3a3a3a;
$dialogInputBorder: #383838;
$dialogColor: #eaeaea;
$dialogButton: #2d2d2d;
$artistName: #bebebe;
$genres: #b7b7b7;
$total: #e8e8e8;
$navigationBackground: #2f2f2f;
$navigationColor: #c4c4c4;
$navigationDisabledBackground: #171717;
$navigationDisabledColor: #565656;