$background: #212121;
$darkBackground: #1f1f1f;
$darkerBackground: #1c1c1c;
$evenDarkerBackground: #131313;
$spotifyColor: #1DB954;
$orange: #FF8000;
$lightBackground: #383838;
$popUpBackground: #252525;
$scroll: #525252;
$lighterBackground: #696969;
$evenLighterBackground: #939393;
$lyricsLabel: #C3C3C3;
$searchBarBackground: #343333;
$searchBarHover: #545454;
$searchBarBorder: #2f2f2f;
$followers: #b0b0b0;
$followersTotal:#d5d5d5;
