$background: #212121;
$darkBackground: #1f1f1f;
$darkerBackground: #1c1c1c;
$evenDarkerBackground: #131313;
$spotifyColor: #1DB954;
$orange: #FF8000;
$lightOrange: #f8a255;
$lightBackground: #383838;
$popUpBackground: #252525;
$scroll: #525252;
$lighterBackground: #696969;
$evenLighterBackground: #939393;
$lyricsLabel: #C3C3C3;
$searchBarBackground: #343333;
$searchBarHover: #545454;
$searchBarCurrent: #464646;
$searchBarCurrentHover: #6e6e6e;
$searchBarBorder: #2f2f2f;
$followers: #b0b0b0;
$followersTotal: #d5d5d5;
$searchButtons: #b7b7b7;
$contextMenu: #2f2f2f;
$contextMenuHover: #383838;
$contextMenuText: #a2a2a2;
