@import "src/colors";
@import 'node_modules/@angular/material/theming';

::ng-deep {

  mat-form-field {

    .mat-form-field-wrapper {

      .mat-form-field-flex {

        .mat-form-field-label {
          color: white !important;
        }

        .mat-form-field-suffix {

          mat-datepicker-toggle {

            color: white !important;
          }

        }

      }

      .mat-form-field-infix {

        mat-date-range-input {

          .mat-date-range-input-container {

            span {
              color: white !important;
            }

          }

        }

      }

      .mat-form-field-underline {
        background: white !important;
      }

    }

    &.mat-focused {

      .mat-form-field-ripple {
        background-color: $orange !important;
      }

    }

  }

  mat-datepicker-content {
    background: $datePickerBackground !important;
    color: white !important;

    button {
      color: white !important;

      .mat-button-wrapper {

        .mat-calendar-arrow {
          border-top-color: white !important;
        }

      }

    }

    table {

      thead {
        color: white !important;
      }

      tbody {

        tr {

          td {
            color: white !important;

            .mat-calendar-body-cell-content {
              color: white !important;

              &.mat-calendar-body-selected {
                background-color: $orange !important;
              }

            }

            .mat-calendar-body-cell {
              color: white !important;

              &.mat-calendar-body-selected {
                background-color: $orange !important;
              }

            }

            &.mat-calendar-body-in-range::before {
              background: $orange !important;
              opacity: .2 !important;
            }

          }

        }

      }

    }

  }

}